{% extends 'game/base.html' %}

{% block body %}

<div class="container">
<h1>Here are all of the available games</h1>
<h2>
    Game 1
</h2>
<p>
    It was a ___, cold ___ day. I woke up to the ___ smell
    of ___ roasting in the ___ downstairs. I ___ down the stairs
    to see if I could help ___ the dinner. My mom said, "See if ___ needs a fresh
    ___." So I carried a tray of glasses, full of ___ into the ___
    room. When I got there, I couldn't believe my ___! there were ___
    ___ on the ___!
</p>
    <a class="btn btn-success" href="{% url 'game:create_item' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 2
</h2>
<p>
    ___ went to the beach with ___. First they ___ in their ___.
    Then, they saw ___ and ___. Lastly, they built a sandcastle out of ___
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_two' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 3
</h2>
<p>
    ___ and ___ are going to make a sandwich. First they take two slices of ___
    Then they spread some ___. Then they add some ___ and ___. Their sandwiches
    are ___.
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_three' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 4
</h2>
<p>
    Dear, ___, Here I am at Camp ___ Lake. I am having a ___
    time. So far I have gone ___ and ___. My favorite thing about camp is
    ___. They are so ___! I miss ___ though. See you soon! Love,
    ___
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_four' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 5
</h2>
<p>
    It's been a ___ winter here in ___. For as long as we can remember, the sky has been
    ___ and the ground has been covered with ___. We have all been surviving on a steady
    diet of ___ and ___. Please pray for us here. Love, ___
</p><a class="btn btn-success" href="{% url 'game:create_item_five' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 6
</h2>
<p>
    So much ___ fell from the ___ last night that we got to stay home from school! There are
    ___ inches of snow on the ground, so we went outside to make ___ men and go
    ___ down a big hill. First, our mom made us put on warm ___ and
    ___. After we were done, we went home to have hot ___ and ___ to
    warm up.
</p><a class="btn btn-success" href="{% url 'game:create_item_six' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 7
</h2>
<p>
    Yesterday, ___ and I went to the park. On our way to the ___ park, we saw a
    ___ ___ on a bike. We also saw big ___ balloons tied to
    a ___. Once we got to the ___ park, the sky turned ___. It started
    to ___ and ___. ___ and I ___ all the way home.
    Tomorrow we will try to go to the ___ park again and hope it doesn't ___.
    </p><a class="btn btn-success" href="{% url 'game:create_item_seven' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 8
</h2>
<p>
    I can't believe it's already ___! I can't wait to put on my ___ and visit every
    ___ in my neighborhood. This year, I am going to dress up as a ___ with
    ___ ___. Before I ___, I make sure to grab my
    ___ ___ to hold all of my ___. Finally, all of my
    ___ are ready to go!
    </p><a class="btn btn-success" href="{% url 'game:create_item_eight' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 9
</h2>
<p>
    Once upon a time, ___ lived in an old and smelly ___. They wanted to go somewhere
    exciting, so they planned a trip to ___. But then ___. ___ was very
    ___ and ___. They had to so something! So they ___.
    After they did this, ___. And ___ lived happily ever after.
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_nine' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 10
</h2>
<p>
    One day ___ was ___ to the ___. On the way, ___ saw
    a ___. This was a surprise so ___ ___ quickly.
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_ten' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 11
</h2>
<p>
    Winter is here! I love winter because I always get to go ___ with ___. Another
    fun winter activity is ___. In December the weather is ___. When it is
    ___ outside, ___ and I ___. My favorite food to eat when it is
    cold is ___ ___. Playing in the snow is best when I'm wearing
    ___. I hope you have a ___ Christmas and a ___ New Year!
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_eleven' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 12
</h2>
<p>
    Dogs and cats can be the best of friends, but also worst enemies! sometimes, dogs will ___ after cats,
    just to make them ___ angry! Other times, cats will ___ on a dog's
    ___ just for fun. Cats and dogs can be nice, too. They cuddle, and sleep on ___
    together, or eat ___ together. They'll even chase ___ down ___ together!
    But, alas, they are long-time foes, and often end up ___, fighting hissing, growling and
    ___ at each other over ___
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_twelve' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 13
</h2>
<p>
    Make sure your lunch ___ is filled with nutritious ___ food. Do not go to the
    ___ food stand across the street from the school. The hamburgers they serve are fried in
    ___ and are made of ___ meat. So take a sandwich made of ___, or
    ___ it's much healthier! Drink ___ milk instead of ___ colas.
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_thirteen' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 14
</h2>
<p>
    ___ was a mighty ___. He would stomp around the jungle with a loud ___!
    The other dinosaurs thought he was good at hunting ___ and had a very scary ___. He
    lived in a ___ cave that smelled like ___. He had ___ friends that always
    played ___ with him. He was a very ___ dinosaur.
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_fourteen' %}">Play Now!</a>
    <br>
    <br>
<h2>
    Game 15
</h2>
<p>
    One day I got up and saw that my mom had made some ___. I was so excited, mom puts her special
    ingredient, ___ in it to make it extra delicious! I knew that we'd be ___ to
    get to the park to see ___. Mom and I love to see them because they're ___.
    After the park we knew we'd have to run to the ___ and grab some ___. We'd need something
    to cook for dinner! Mom was so surprised when she opened her gift! I got here a ___. This was the
    best Mother's Day ever!
</p>
    <a class="btn btn-success" href="{% url 'game:create_item_fifteen' %}">Play Now!</a>
    <br><br>
</div>

{% endblock %}