{% extends 'game/base.html' %}

{% block body %}

<h1>
    Game 9
</h1>

    {% for item in items %}
<p>
    Once upon a time, {{ item.name }} lived in an old and smelly {{ item.setting }}. They wanted to go somewhere
    exciting, so they planned a trip to {{ item.place }}. But then {{ item.problem }}. {{ item.name }} was very
    {{ item.adjective }} and {{ item.adjectiveTwo }}. They had to so something! So they {{ item.problemResolution }}.
    After they did this, {{ item.result }}. And {{ item.name }} lived happily ever after.
</p>
    {% endfor %}
{% endblock %}