{% extends 'game/base.html' %}

{% block body %}

    <div class="container">
<h1>
    Game 7
</h1>

    {% for item in items %}
<p>
    Yesterday, {{ item.person }} and I went to the park. On our way to the {{ item.adjective }} park, we saw a
    {{ item.adjectiveTwo }} {{ item.noun }} on a bike. We also saw big {{ item.adjectiveThree }} balloons tied to
    a {{ item.nounTwo }}. Once we got to the {{ item.adjectiveFour }} park, the sky turned {{ item.color }}. It started
    to {{ item.verb }} and {{ item.verbTwo }}. {{ item.personTwo }} and I {{ item.verbThree }} all the way home.
    Tomorrow we will try to go to the {{ item.adjectiveFive }} park again and hope it doesn't {{ item.verbFour }}.
</p>
</div>
    {% endfor %}
{% endblock %}